body {
}

header {
  display: grid;
  background-color: #689f38;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "nav admin"
  "nav corp";
  width: 1100px;
  height: 100%;
}

.nav-menu {
  grid-area: nav;
  /* height: 100px;
  width: 550px; */
}

.admin-user {
  grid-area: admin;
  height: 70px;
  width: 550px;
}

.corp-logo {
  grid-area: corp;
  height: 70px;
  width: 550px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1100px;
  height: 1500px;
  background-color: #795548;
  opacity: 0.85;
}

.card1 {
  width: 250px;
  height: 370px;
  background-color: white;
  border-style: groove;
  padding: 10px;
}

.card2 {
  width: 250px;
  height: 370px;
  background-color: white;
  border-style: groove;
  padding: 10px;
}

.card3 {
  width: 250px;
  height: 370px;
  background-color: white;
  border-style: groove;
  padding: 10px;
}

.card4 {
  width: 250px;
  height: 370px;
  background-color: white;
  border-style: groove;
  padding: 10px;
}

.card5 {
  width: 250px;
  height: 370px;
  background-color: white;
  border-style: groove;
  padding: 10px;
}

.card6 {
  width: 250px;
  height: 370px;
  background-color: white;
  border-style: groove;
  padding: 10px;
}

.card7 {
  width: 250px;
  height: 370px;
  background-color: white;
  border-style: groove;
  padding: 10px;
}

.card8 {
  width: 250px;
  height: 370px;
  background-color: white;
  border-style: groove;
  padding: 10px;
}
